[Unit]
Description=cluster LVM daemon
After=syslog.target network.target corosync.service dlm.service
Requires=dlm.service

[Service]
Type=notify
NotifyAccess=main
EnvironmentFile=/etc/sysconfig/clvmd
ExecStart=/usr/sbin/clvmd -f $CLVMDOPTS
ExecReload=/usr/sbin/clvmd -R
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
